In [85]:
import pandas as pd
import os

In [86]:
data = pd.read_csv(r'C:\Users\SHIVAM GHUGE\Downloads\Mechademy Assignment\DS-Intern-Assignment-Shivam-Ghuge\data\data.csv')

data

,timestamp,equipment_energy_consumption,lighting_energy,zone1_temperature,zone1_humidity,zone2_temperature,zone2_humidity,zone3_temperature,zone3_humidity,zone4_temperature,...,zone9_temperature,zone9_humidity,outdoor_temperature,atmospheric_pressure,outdoor_humidity,wind_speed,visibility_index,dew_point,random_variable1,random_variable2
0,2016-01-11 17:00:00,60.0,-77.78778596503064,33.74660933896648,47.59666666666671,19.2,44.790000,19.79,NaN,19.000000,...,17.033333,45.53,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60.0,30.0,19.89,46.69333333333329,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50.0,30.0,19.89,46.3,19.2,44.626667,19.79,44.933333,35.921144,...,17.000000,45.50,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50.0,40.0,33.74660933896648,46.0666666666667,19.2,44.590000,19.79,45.000000,NaN,...,17.000000,45.40,6.250000,733.800000,92.000000,6.000000,51.500000,37.673716,45.410389,45.410389
4,2016-01-11 17:40:00,60.0,40.0,19.89,46.33333333333329,19.2,44.530000,19.79,45.000000,18.890000,...,4.476511,45.40,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16852,2016-10-03 20:10:00,1139.9856929495108,20.0,22.1,38.723333333333294,19.79,39.566667,21.29,38.845000,21.390000,...,18.100000,40.09,5.816667,761.466667,68.333333,2.000000,64.666667,0.366667,10.707282,10.707282
16853,2016-10-04 06:10:00,50.0,86.00296632575207,21.29,39.6266666666667,18.1,44.290000,22.39,38.760000,NaN,...,20.200000,44.50,3.683333,752.250000,96.666667,1.000000,18.000000,3.150000,49.199695,49.199695
16854,2016-11-03 00:50:00,50.0,0.0,21.39,37.59,18.463333333333296,39.966667,21.10,37.790000,20.600000,...,18.100000,40.20,1.750000,763.000000,84.166667,1.000000,60.833333,-0.633333,6.905370,6.905370
16855,2016-11-04 13:20:00,80.0,0.0,22.5,39.36,23.6,35.730000,23.10,38.000000,22.290000,...,21.100000,39.53,16.800000,750.166667,50.333333,6.000000,40.000000,6.266667,25.020775,25.020775
16856,2016-12-01 15:50:00,30.0,0.0,20.066666666666695,43.863333333333294,19.1333333333333,42.863333,19.89,44.760000,19.600000,...,17.166667,43.79,6.400000,743.883333,81.000000,4.166667,40.000000,3.400000,26.301386,NaN

In [87]:
data.dtypes

# some of the numeric columns are incorrectly classified as object datatype, we need to correct the datatype.

timestamp                        object
equipment_energy_consumption     object
lighting_energy                  object
zone1_temperature                object
zone1_humidity                   object
zone2_temperature                object
zone2_humidity                  float64
zone3_temperature               float64
zone3_humidity                  float64
zone4_temperature               float64
zone4_humidity                  float64
zone5_temperature               float64
zone5_humidity                  float64
zone6_temperature               float64
zone6_humidity                  float64
zone7_temperature               float64
zone7_humidity                  float64
zone8_temperature               float64
zone8_humidity                  float64
zone9_temperature               float64
zone9_humidity                  float64
outdoor_temperature             float64
atmospheric_pressure            float64
outdoor_humidity                float64
wind_speed                      float64
visibility_index                float64
dew_point                       float64
random_variable1                float64
random_variable2                float64
dtype: object

In [88]:
col = [col for col in data.columns if data[col].dtype == 'object']

col.remove('timestamp')

col

['equipment_energy_consumption',
 'lighting_energy',
 'zone1_temperature',
 'zone1_humidity',
 'zone2_temperature']

In [89]:
# we need to check whether these features contains some of the non numeric values and replace them with NaN.

for i in col:
    data[i] = pd.to_numeric(data[i],errors='coerce')

In [90]:
data.dtypes

timestamp                        object
equipment_energy_consumption    float64
lighting_energy                 float64
zone1_temperature               float64
zone1_humidity                  float64
zone2_temperature               float64
zone2_humidity                  float64
zone3_temperature               float64
zone3_humidity                  float64
zone4_temperature               float64
zone4_humidity                  float64
zone5_temperature               float64
zone5_humidity                  float64
zone6_temperature               float64
zone6_humidity                  float64
zone7_temperature               float64
zone7_humidity                  float64
zone8_temperature               float64
zone8_humidity                  float64
zone9_temperature               float64
zone9_humidity                  float64
outdoor_temperature             float64
atmospheric_pressure            float64
outdoor_humidity                float64
wind_speed                      float64
visibility_index                float64
dew_point                       float64
random_variable1                float64
random_variable2                float64
dtype: object

#### ***Handling NaN values***

In [91]:
data.isna().sum()

# every features have NaN values

timestamp                         0
equipment_energy_consumption    912
lighting_energy                 864
zone1_temperature               949
zone1_humidity                  888
zone2_temperature               923
zone2_humidity                  867
zone3_temperature               802
zone3_humidity                  878
zone4_temperature               816
zone4_humidity                  781
zone5_temperature               838
zone5_humidity                  801
zone6_temperature               848
zone6_humidity                  847
zone7_temperature               794
zone7_humidity                  805
zone8_temperature               848
zone8_humidity                  777
zone9_temperature               773
zone9_humidity                  888
outdoor_temperature             806
atmospheric_pressure            842
outdoor_humidity                799
wind_speed                      828
visibility_index                815
dew_point                       826
random_variable1                826
random_variable2                824
dtype: int64

In [92]:
# based on the distribution of data (skewness) we fill the null values either with mean,median or mode

'''
    Range                       |     Skewness
-0.5 to 0.5	                    |   Approximately Symmetric
-1 to -0.5 or 0.5 to 1	        |   Moderately Skewed (generally considered symmetric)
Less than -1 or Greater than 1  |   Highly Skewed
'''

import matplotlib.pyplot as plt
import seaborn as sns

skewness = {}

for column in data.columns[1:]:
    # sns.displot(data[column],kind='kde')
    # plt.show()
    # print(f"skewness : {data[column].skew()}")
    skewness[column] = data[column].skew()

skewness

{'equipment_energy_consumption': 0.6226928306001958,
 'lighting_energy': 0.23151958888197816,
 'zone1_temperature': 0.04120449489893727,
 'zone1_humidity': -4.6373856362810155,
 'zone2_temperature': 0.32193695226984304,
 'zone2_humidity': -4.374132108693962,
 'zone3_temperature': -0.22080853558467456,
 'zone3_humidity': -5.4171058569266775,
 'zone4_temperature': -0.35464621576264405,
 'zone4_humidity': -3.360591485365059,
 'zone5_temperature': 0.10057109400300862,
 'zone5_humidity': -1.2099984503962027,
 'zone6_temperature': 0.028654330719536093,
 'zone6_humidity': -0.1314898466105549,
 'zone7_temperature': 0.23499534884368428,
 'zone7_humidity': -2.5913172485628126,
 'zone8_temperature': 0.28409511439628327,
 'zone8_humidity': -3.0068385030470597,
 'zone9_temperature': -0.160425952253728,
 'zone9_humidity': -4.3607332224144155,
 'outdoor_temperature': 0.32575773771512334,
 'atmospheric_pressure': -0.08341191039310719,
 'outdoor_humidity': -2.0153364267344234,
 'wind_speed': 0.13090645619686533,
 'visibility_index': -0.16066191035562702,
 'dew_point': -0.019574469493971774,
 'random_variable1': -0.13222221215315447,
 'random_variable2': 0.15895255400743397}

In [93]:
replace_with_mean = [col for col,skew in skewness.items() if -1 < skew < 1]

replace_with_median = [col for col,skew in skewness.items() if (skew < -1) or (skew > 1)]

In [94]:
replace_with_mean

['equipment_energy_consumption',
 'lighting_energy',
 'zone1_temperature',
 'zone2_temperature',
 'zone3_temperature',
 'zone4_temperature',
 'zone5_temperature',
 'zone6_temperature',
 'zone6_humidity',
 'zone7_temperature',
 'zone8_temperature',
 'zone9_temperature',
 'outdoor_temperature',
 'atmospheric_pressure',
 'wind_speed',
 'visibility_index',
 'dew_point',
 'random_variable1',
 'random_variable2']

In [95]:
replace_with_median

['zone1_humidity',
 'zone2_humidity',
 'zone3_humidity',
 'zone4_humidity',
 'zone5_humidity',
 'zone7_humidity',
 'zone8_humidity',
 'zone9_humidity',
 'outdoor_humidity']

In [ ]:
for column in replace_with_mean:
    data[column] = data[column].fillna(data[column].mean())

for column in replace_with_median:
    data[column] = data[column].fillna(data[column].median())

In [97]:
data.isna().sum()

timestamp                         0
equipment_energy_consumption      0
lighting_energy                   0
zone1_temperature                 0
zone1_humidity                    0
zone2_temperature                 0
zone2_humidity                  867
zone3_temperature               802
zone3_humidity                  878
zone4_temperature               816
zone4_humidity                  781
zone5_temperature               838
zone5_humidity                  801
zone6_temperature               848
zone6_humidity                  847
zone7_temperature               794
zone7_humidity                  805
zone8_temperature               848
zone8_humidity                  777
zone9_temperature               773
zone9_humidity                  888
outdoor_temperature             806
atmospheric_pressure            842
outdoor_humidity                799
wind_speed                      828
visibility_index                815
dew_point                       826
random_variable1                826
random_variable2                824
dtype: int64